@mixin nav-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-navbar {
    .navbar {
      background: md-color($primary);
    }

    color: md-color($primary, default-contrast);
  }
}
