<div class="header-bar">Components</div>
<div class="component-list">
  <header class="header-section">
    <h1>Directory of Design Components</h1>
    <span class="text-container">
      Set of high-quality UI components built with Angular 2 and
      TypeScript, following the Material Design spec
    </span>
  </header>
  <button md-fab color="primary" (click)="switchViewMode()" class="grid-fab">
    <md-icon>{{viewIcon}}</md-icon>
  </button>
  <div [class.grid-view]="gridMode">
    <div class="text-content">
      <div *ngFor="let group of componentGroups" class="component-group">
        <div class="component-group-name">{{group.name}}</div>
        <div class="component-section">
          <div *ngFor="let component of group.list">
            <div class="component-chip"  [routerLink]="component.routerLink" >
              <div class="component-img"><img [src]="component.imageSrc"/></div>
              <div class="component-name">{{component.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


