$content-width: 920px;

.component-list {
  h1, h3 {
    font-weight: 400;
  }
}

.header-bar {
  padding: 16px 32px;
  font-size: 20px;
  text-transform: uppercase;
}

.header-section {
  text-align: center;
  margin: 60px auto 0;
  width: 80%;

  @media(max-width: 599px) {
    width: 90%;
  }
}

.text-container {
  line-height: 2;
}

.grid-fab {
  float: right;
  margin: 24px;
}

.text-content {
  margin: 100px auto 20px;
  max-width: $content-width;
  width: 60%;
  border: 1px solid grey;
}

.component-group-name {
  background: lightgray;
  padding: 16px;
}
.component-img {
  min-width: 88px;
}

.component-chip {
  display: flex;
  flex-direction: row;
  height: 56px;
  align-items: center;
  padding: 8px 16px;
  border-bottom: solid 1px lightgray;
}

.grid-view {

  .text-content {
    border: none;
  }

  .component-group-name {
    background: transparent;
    font-size: 18px;
  }

  .component-chip {
    flex-direction: column;
    border: none;
    height: inherit;
  }

  .component-img {
    width: 200px;
    height: 160px;
    text-align: center;
    vertical-align: middle;

    img {
      margin: 24px;
      width: 60%;
    }
  }

  .component-name {
    justify-content: center;
  }

  .component-section {
    display: flex;
    flex-direction: row;
  }
}
